{% extends 'base.html.twig' %}

{% block body %}
    <img src="notas3.png" alt="Foto de Notas" width="500" height="333">
    <table class="table">
        <thead>
            <th scope = "col">Id</th>
            <th scope = "col">Créditos</th>
            <th scope = "col">Asignatura</th>
            <th scope = "col">Calificación</td>
        </thead>
        <tbody>
            {% for contact in contacts %}
            <tr>
                <th scope="row">{{ contact.id }}</th>
                <td >{{ contact.name }}</td>
                <td>{{ contact.surname }}</td>
                <td>{{ contact.number }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block stylesheets %}
{% endblock %}
